.Container {
	min-height: 100vh;
	min-width: 100vw;

	margin: 0 auto;
	background: url('/assets/destination/background-destination-desktop.jpg')
		no-repeat center;

	background-size: cover;
	display: flex;
	padding: 2rem;
	margin: 0 auto;
	align-items: center;
	justify-content: center;

	h1 {
		font-family: 'Barlow Condensed', sans-serif;
		color: #ffff;
		font-size: 1.2rem;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 2px;
		position: relative;
		justify-self: flex-start;
		align-self: flex-start;

		top: 6rem;
	}

	.main {
		position: relative;
		align-content: center;
		text-align: center;
		display: flex;
		grid-template-columns: 1fr 1fr;

		justify-content: space-around;
		align-items: center;
		color: white;
		.planet {
			// margin-left: 4rem;
			display: flex;
			margin-right: 6rem;
			img {
				width: 28rem;
				height: 28rem;
			}
		}

		.info {
			animation: changeOpacity 1s cubic-bezier(0, 0.4, 0.57, 0.48) 1 forwards;
			// animation: left 1s ease-in 250ms 1 forwards;

			display: grid;
			position: relative;
			grid-template-rows: repeat(100px);
			max-width: 28rem;

			p {
				font-weight: 400;
				color: var(--light-blue);
				font-size: 1rem;
				line-height: 2;
				text-align: left;
			}
			h2 {
				margin: 2rem 0;
				font-size: 6rem;
				font-family: 'Bellefair';
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: 2.5px;
				// padding: 2rem;
				text-align: left;
			}
			ul {
				list-style: none;
				display: flex;

				button {
					text-align: left;
					padding: 0.5rem 0;
					font-weight: 400;
					margin: 0.5rem 1rem;
					font-size: 1rem;
					letter-spacing: 2.7px;
					font-family: 'Barlow Condensed', sans-serif;
					cursor: pointer;
					border: none;

					color: var(--light-blue);
					background: none;
					text-transform: uppercase;
					// padding: 1rem;

					&:hover {
						filter: brightness(0.8);
						color: #fff;

						&::before {
							content: '';
							height: 2px;
							width: 100%;
							text-align: center;
							position: absolute;
							bottom: -3px;
							background: white;
						}
					}
					&.Active {
						color: white;
						border-bottom: 3px solid white;
						font-weight: bold;

						// border-bottom-width: thin;
					}
					// button + button {
					// 	margin-right: 1rem;
					// }
				}
			}

			.subinfos {
				display: grid;
				grid-template-columns: 1fr 1fr;
				text-transform: uppercase;
				margin-top: 2rem;
				@media (max-width: 420px) {
					margin-top: 1.9rem;
					.distance {
						margin: 0 auto;
						span {
							font-size: 1rem;
							text-align: center;
						}
						strong {
							text-align: center;
							margin-top: 0;
							font-size: 1rem;
						}
					}
					display: flex;

					// justify-content: center;
				}
				&::before {
					content: '';
					height: 1px;
					width: 28rem;
					position: absolute;

					background: rgba(151, 151, 151, 0.2);
				}
				.distance {
					margin-top: 2rem;
					display: flex;
					flex-direction: column;
					text-align: left;

					span {
						font-family: 'Barlow Condensed', sans-serif;
						color: var(--light-blue);
						font-size: 0.8rem;
						letter-spacing: 2.3px;
					}

					strong {
						font-weight: normal;
						font-family: 'Bellefair', sans-serif;
						margin-top: 0.75rem;
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		background: url('/assets/destination/background-destination-tablet.jpg')
			no-repeat center;
		background-size: cover;
		// overflow: hidden !important;
		// height: 100vh;
		margin: 0 auto;
		display: grid;

		.main {
			gap: 4rem;
			// display: flex;
			// flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			// margin-top: 6rem;
			align-items: center;
			padding: 4rem 0;
			.planet {
				margin: 0;
				img {
					max-height: 18rem;
				}
			}
			.info {
				max-width: 36rem;
				text-align: center;
				margin: 0 auto;

				h2 {
					margin: 0;
					text-align: center;
				}
				p {
					text-align: center;
				}

				ul {
					li {
						text-align: center;
					}
					// text-align: center;
					margin: 0 auto;
				}
				.planetList {
					text-align: center;
				}
			}
			.subinfos {
				.distance {
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.Container {
			background: url('/assets/destination/background-destination-tablet.jpg')
				no-repeat center;
			background-size: cover;
			// display: flex;
			align-items: center;
			flex-direction: column;
			// height: 100vh;
			// width: 100vw;
		}

		.main {
			.info {
				ul {
					margin: 0 auto;
				}
			}
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			// height: 100vh;
			// width: 100vw;
			.planet {
				position: relative;
				// bottom: -60px;
				max-width: 20rem;
				max-height: 20rem;
			}
		}

		.info {
			width: 90%;
		}
	}

	@media (max-width: 420px) {
		background: url('/assets/destination/background-destination-mobile.jpg')
			no-repeat center;
		background-size: cover;
		min-width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 0;
		h1 {
			position: relative;
			// margin: 0;
			// padding: 0;
			top: 30px;
			// left: 0;
			align-self: center;

			text-align: center;
			// margin: 0 auto;
			font-size: 0.75rem;
		}

		.main {
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;

			.info {
				h2 {
					font-size: 3rem;
				}
				p {
					font-size: 0.9rem;
					line-height: 1.75;
				}
				.planetList {
					font-size: 1rem;
				}
				ul {
					button {
						font-size: 0.9rem;
						&:hover {
							filter: brightness(0.8);
							color: #fff;

							&::before {
								content: '';
								height: 2px;
								width: 100%;
								text-align: center;
								position: absolute;
								// bottom: -3px;
								background: white;
							}
						}
						&.Active {
							color: white;
							display: inline-block;
							border-bottom: 1.5px solid white;
						}
					}
				}
			}
			.planet {
				max-height: 10rem;
				max-width: 10rem;
				bottom: -60px;
			}
			.subinfos {
				display: flex;
				flex-direction: column;
				align-items: center;

				// position: relative;
				.distance {
					margin-top: 0.5rem !important;
					// position: relative;
					// top: -10px;
				}
			}
		}
	}
}
@keyframes changeOpacity {
	0% {
		left: 50px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes left {
	from {
		right: 20px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
